


<h2 class="text-center text-5xl">practice your speaking!</h2>
<section class="">
  
    <h2 class="">Transcript</h2>
    <div class="" style="border: 1px solid rgb(182, 8, 8); height: 300px; border-radius: 10px;">
      <span id="final" class="text-light"></span>
      <span id="interim" class="text-secondary"></span>
    </div>
    
    <div class="border-green-600">
      <button class="" id="start">Start</button>
      <button class="" id="stop">Stop</button>
      <p id="status" class="" style="display: none"> Listenting ...</p>
    </div>
  </section>
  