<h2>practice your speaking!</h2>

<html lang="en">
<body class="container light">

    <head>
    <link href="talk-to-text.component.css">
    </head>
    <body> 

 </body>
    <button class = "transcriptbutton">TRANSCRIPT</button>
    
    <div id = 'trans-box'
    class="text-dark;" 
    style="border: 5px solid rgb(15, 14, 14); height: 400px; width: border-radius:200px;">
    </div>
     
    <button class = "startbutton">START</button>
      <button class= "stopbutton"> STOP</button>
  </body>