.START{ 

    margin: auto;
<<<<<<< Updated upstream
    position: relative;
    border: 1px solid rgb(20, 184, 36); 
    height: 50px; 
    width:50%;
    border-radius: 50px;
    padding: 15px 32px;
    text-align:center;
    margin: 4px 2px;
=======
    position: center;
    border: 1px solid rgb(20, 184, 36); 
    height: 50px; 
    width:30%;
    border-radius: 10px;
    padding: 15px 32px;
    text-align:center;
    margin: 25px 385px;
>>>>>>> Stashed changes
    box-shadow:0 8px 16px 0 rgba(20, 184, 36);
    

}

.STOP{
    margin: auto;
    position: relative;
    border: 1px solid rgb(184, 47, 20); 
    height: 50px; 
<<<<<<< Updated upstream
    width: 50%;
    border-radius: 50px;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
=======
    width: 30%;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    margin: 25px 385px;
>>>>>>> Stashed changes
    box-shadow: 0 8px 16px 0 rgb(184, 47, 20);

}