<!--icon sheet link  using "Fa Fa" from iconscout-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

 <div class="box">
    <div class="Signup-form">
      <h2>Signup</h2>
      <div class="inputBox">
        <input type="email" required="required">
        <span class="Email">Email</span>
        <i></i>
        <div class="inputBox">
          <span class="Passowrd">Password</span>
          <input type="passowrd" required="required">
          <i></i>
      </div>
      <div class="links">
        <a href="#">Forgot Password?</a>
        <a href="../login/">Log In</a>
        <!---<div>
          <input [type]="U" (click)="showSignup()" type="Signup" value="Signup">
        </div>-->

      </div>
      <input type="submit" value="Submit">
    </div>

    <!--The link to connect an html and css file--> 
    <link rel="stylesheet" href="signup.component.css">

