/* Set the font style to black */
body {
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Center the form and set it to a square layout using flex */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgb(215, 10, 10), 0 6px 20px 0 rgb(215, 10, 10);
  width: 80%;
  max-width: 400px;
}

/* Center the form heading and make it bigger */
.center {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
}

/* Set the sign up link style to blue */
.signup-link {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  cursor: pointer;
  color: blue;
}

/* Style the form elements */
.form-element {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: black;
  font-size: 16px;
}

/* Style the submit button */
#submit-btn {
  background-color: rgb(180, 33, 33);
  color: rgb(248, 243, 243);
  padding: 15px 50px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Add hover effect to submit button */
#submit-btn:hover {
  background-color: rgb(215, 10, 10);
}

/* Media Queries */

/* Small devices (portrait phones, 300px and up) */
@media (min-width: 300px) {
  .container {
    padding: 20px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 30px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding: 40px;
    max-width: 500px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    max-width: 600px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    max-width: 700px;
  }
}
