@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
  margin: 0;
  width: 95%;
  padding: none;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}


.body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--matador-red);       /*Screen background color*/
}
.box{
  position: relative;
  left: 35%;
  margin-top:5%;
  align-content: center;
  width: 400px;
  height: 500px;                   /*This is the log in form background and measuremnts*/
  background-color: black;
  border-radius: 10px ;
  overflow: hidden;
}
.box::before{
  content: '';
  position: absolute;
  top: -40%;
  left: -50%;
  width: 400px;
  height: 420px;
  background: linear-gradient(0deg,transparent,var(--matador-red),#ad2525);  /*the animation part-1*/ 
  transform-origin: bottom right;
  animation: animate 6s linear infinite;

}
.box::after{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 420px;
  background: linear-gradient(0deg,transparent,var(--matador-red),#ad2525);  /*the animation */ 
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;

}
@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
 }
}

.Signup-form{
  align-content: center;
  line-height: 1.00;
  position: relative;
  inset: 10px;
  border-radius: 10px;         /*typing space,for background color */
  background: #fff;      
  z-index: 10;
  padding: 50px 50px 90px;
  display: flex;
  flex-direction: column;
}
.Signup-form h2{
  font-size: 250%;
  line-height: normal;
  color: var(--matador-red);
  font-weight: 450;         /*form heading*/
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox{
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.inputBox input{
  position: center;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline:none;
  color: var(--matador-red);
  font-size: 2em;
  letter-spacing: 0.05em;
  z-index: 10;
}
.inputBox span{
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 2em;
  color: var(--matador-red);
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox input:valid~span,
.inputBox input:focus~span{
  color: #9c9696;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.inputBox i{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height:2px;
  background: rgb(194, 25, 25);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid~i,
.inputBox input:focus~i{
  height: 44px;

}
.links{
  display: flex;
  justify-content: space-between;
}
.links a{
  margin: 10px;
  font-size: 1.0em;
  color:var(--matador-red);
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2){
  color: #ad2525;
}
input[type="Submit"]
{
  border: none;
  outline: none;
  background:var(--matador-red) ;
  padding: 11px 25px ;
  width: 100px;
  margin-top: 10px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}
input[type="Submit"]:active
{
  opacity: 0.8;
  
}