ul.styleOfList
{
  
  padding: 0%;
  list-style: none;
  background-color: var(--matador-red);
  display: inline-block;
  text-align: left;

 
  

}
#dropdown-menu
{
  text-align: left;
  position: absolute;
  padding: 0px;


}
ul li
{

  position: relative;
  cursor: pointer;
  
 
}

.styleOfListaTitle
{
  color: white;
  padding: 20px 25px;
  display: block;
  text-align: center;
  text-decoration: none;
  
  
}
ul.dropdown li {
  display: inline-flex;
  color: white;
  
}
  
  ul.dropdown {
  width: 100%;
  background: darkred;
  position: absolute;
  display: none;
  
  
  
  }
  ul li a:hover {
    background-color: var(--matador-red);
    
  
  }
  
  ul li:hover ul.dropdown {
  display: block;
  }