<section id='home-component'>
    <div id="button-container">
        <button class="home-page-btn" (click)="showLearn()">Learn</button>
        <button class="home-page-btn" (click)="showTest()">Test</button>
        <button class="home-page-btn" (click)="showGame()">Game</button>
        <button class="home-page-btn" (click)="showTalkToText()">Speech</button>
        <button class="home-page-btn" routerLink="lessons">Lessons</button>
    </div>

    <div class="mx-auto">
        <button (click)="showMe()"> show me </button>
    </div>
</section>