#home-component{
    margin-top: 10%;
    /* border: 2px solid green; */
}

#button-container{
    padding: 2em;
    border: 2px solid black;
    margin: 3em;
    display: grid;
    gap: 6em;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    place-items: center;
}


@media (max-width: 1280px) {
    #button-container{
        padding: 2em;
        border: 2px solid black;
        margin: 3em;
        display: grid;
        gap: 6em;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        place-items: center;
    }
}

@media (max-width: 625px) {
    #button-container{
        padding: 2em;
        border: 2px solid black;
        margin: 3em;
        display: grid;
        gap: 6em;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        place-items: center;
    }
}

.home-btn{
    text-align: center;
    border: 2px solid green;
    border-radius: .33rem;
    padding: 3em;    
    font-size: 1.5rem;
    color: white;
    background-color: var(--matador-red);
    font-family: 'Poppins';
}