<main class="container mx-auto">
    <p>back to Lessons <a (click)="showDashboard()">dashboard</a></p>
    <h2 class="text-center">Pronouns</h2>
    <section id="lesson">
        <p>pronouns are one of the main staples of the language</p>
        <p>the most important ideas to remember about pronouns are:</p>
        <ul>
            <li>
                <p>pronouns can be singular or plural</p>
            </li>
            <li>
                <p>pronouns can be objective or subjective </p>
            </li>
            <li>
                <p>pronouns refer back to a specific noun*</p>
            </li>
        </ul>
        <p> but what does all that mean? let's try and break that down</p>
        <div class="sub-section">
            <h3>singular or plural</h3>
            <p>whether something is singular or plural all depends on the count but it's easy</p>
            <p>singular is one or none, never any more</p>
            <p>that's 1 or 0.</p>
            <p>you may be asking how is 0 singular? Well I'm asking that question too</p>
        </div>
        <div class="subsection">
            <h3>Object vs Subjective</h3>
            <p>whether something's subjective or orbjective depends on whether 
                it does the action or receives the action
            </p>

        </div>
        <div>
            <h3>pronoun table</h3>
            <table>
                <tr>
                    <th colspan="2.5">Singular</th>
                    <th colspan="2.5">plural </th>
                </tr>
                <tr>
                    <th>case</th>
                    <th>subject</th>
                    <th>object</th>
                    <th>subject</th>
                    <th>object</th>
                </tr>
                <tr id="first-person">
                    <th>1st</th>
                    <td>I</td>
                    <td>Me</td>
                    <td>We</td>
                    <td>Us</td>
                </tr>
                <tr id="second-person">
                    <th>2nd</th>
                    <td>you</td>
                    <td>you</td>
                    <td>you</td>
                    <td>you</td>
                </tr>
                <tr>
                    <th>3rd</th>
                    <td>he, she, it</td>
                    <td>him, her, it</td>
                    <td>they</td>
                    <td>them</td>
                </tr>
            </table>
        </div>
    </section>
</main>

