<main class="container mx-auto border-2 border-sky-500">
    <h2 class="text-center mt-12">idioms</h2>
    <p>back to Lessons <a class="text-blue-700" (click)="showDashboard()">dashboard</a></p>
    <p> idioms are for idiots -- said no one never </p>
    <p>idioms are expressions that provide flavor for the language and usually express cultural ideas</p>


    <p>here are a select list of some of my favorite idioms</p>

    <section id="pearls-before-swine">
        <h3> Pearls before Swine </h3>
    </section>

    <section id="rbaon">
        <h3> A Rose By Any Other Name </h3>
    </section>
    
    <section id="sftf">
        <h3> Swing For the Fences</h3>
    </section>

</main>
