/* General button style */
p {
  text-align: center;
  line-height: 100px;
}

.flashcard {
  height: 400px;
  width: 700px;
  border-radius: 25px;
  perspective: 1000px;
  font-family: arial;
  font-size: 24px;
  margin: 25px;
  width: 800px;
  margin: 0 auto;
}
.text {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flashcard:hover .text {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: var(--matador-red);
  color: white;
  border-radius: 25px;
}

/* Style the back side */
.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
  border-radius: 25px;
}
