<app-category-selector></app-category-selector>
<button class="button-back" (click)="clickBack()"><----</button>
<div class="flashcard">
  <div class="text">
    <div class="flip-card-front">
      <img class="img" src="{{ cardDeck.cards[i].image }}" />
    </div>
    <div class="flip-card-back">
      <p class="word">
        <!-- {{ terms[questionCorrect].keyWord }} -->
        {{ cardDeck.cards[i].keyWord }}
      </p>
      <button class="button-audio">🔊</button>
    </div>
  </div>
  <p class="curr-card">{{ currCard }} / {{ cardDeck.cards.length }}</p>
</div>
<button class="button-next" (click)="click()">---></button>
