
<!--code below for log in component-->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!---<div class="display">-->
  <div class="box">
    <div class="login-form">
      <h2>Log In</h2>
      <div class="inputBox">
        <input type="email" required="required">
        <span>Email</span>
        <i></i>
        <div class="inputBox">
          <span>Password</span>
          <input type="passowrd" required="required">
          <i></i>
      </div>
      <div class="links">
        <a href="#">Forgot Password?</a>
        <a href="../signup/">Signup</a>
        <!---<div>
          <input [type]="U" (click)="showSignup()" type="Signup" value="Signup">
        </div>-->

      </div>
      <button (click)="showHome()" >Submit</button>
    </div>
  <!--</div>-->

    <!--The link to connect an html and css file--> 
<link rel="stylesheet" href="login.component.css">
    




