
.login-container{
    /* border: 2px solid green; */
    background-color: var(--matador-red);
    padding-bottom: 3em;
    padding-top: 2em;
}

.login-link{
  text-align: center;
  text-decoration: underline;
}
.login-link:hover{
  cursor: pointer;
}
.container {
    background-color: #fff;
    margin: auto 39%;
    height: fit-content;
    width: fit-content;
    padding: 4em;
    border-radius: .66rem;
    margin-bottom: 3em;
}


#main-form{
   border: 2px solid black; 
}
label {
  display: block;
  display: none;
}

.form-element {
  margin: 3em;
  /* border: 2px solid red; */
}

input {
  height: 2.25rem;
  font-size: 1.25rem;
  border: none;
  border-bottom: 2px solid #2c3e50;
  font-weight: 100;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  /* box-shadow: 0px, 10px 5px lightblue; */
  border-bottom: 4px solid #8eadcd;
}

input.alert {
  border-bottom: 2px solid red;
}

input.valid {
  border-bottom: 2px solid rgb(46, 221, 46);
}

.center {
  text-align: center;
}




h2 {
  font-size: 2.25rem;
  color: var(--matador-black);
  font-family: "Poppins";
}

button {
  margin: 0 auto;
  padding: 1.25rem 2.50rem;
  border-radius: 3.25rem;
  background: var(--matador-black);
  color: #fff;
  border: none;
  font-size: 1.25rem;
}

button:hover {
  border: 4px solid #8eadcd;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.semester-input {
  display: inline;
  width: 50%;
}

.semester-container {
  display: flex;
  /* border: 2px solid red; */
}

textarea {
  font-style: inherit;
  width: 100%;
  height: 7em;
  box-sizing: border-box;
  font-size: 1.10rem;
}

textarea:focus {
  outline: 2px solid #8eadcd;
}