*{
    box-sizing: border-box ;
}

body{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.login-container{
    background: rgb(181, 16, 16);
    border: 1px solid rgb(153, 26, 26);
    box-shadow: 0 1px rgb(11, 11, 11);
    border-radius: 5px;
    width: 360px;
    height: 380px;
    margin: 60px auto;
    padding: 50px 30px 0 30px;
    text-align: center;
}

