  .category {
    padding: 200px;
  }

  h2 {
    background-color: var(--matador-red);
    color: white;
    text-align: center;
    font-size: 30px;
  }

  li h2 {
    border-radius: 1rem;
    justify-content: space-evenly;
    display: inline-flex;
  }

  .answerChoices {
    justify-content: space-evenly;
    display: flex;
    text-align: center;
    list-style: none;
    margin-right: 10%;
    margin-left: 10%;
  }

  .green-color-correct {
    background: green;
  }

  .red-color-wrong {
    background: red;
  }
