  #test-wrapper {
    /* border: 2px solid magenta; */
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .Counter {
    min-width: 300px;
  }

  .prog-bar {
    margin: auto;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: var(--matador-red);
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: lightblue;
  }

  li h2 {
    border-radius: 1rem;
    justify-content: space-evenly;
    display: inline-flex;
  }

  .question {
    text-align: center;
    font-size: 3.5rem;
    margin-top: 2%;
  }

  .Counter {
    margin-top: 2%;
    text-align: center;
    font-size: 40px;
    min-width: 150px;
  }



  
  .green-color-correct {
    background: green;
    border-radius:33px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }
  
  .red-color-wrong {
    background: red;
    border-radius:33px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  /*
  * not an appropriate name this more accurately represents the grid cell area
  * all the styles to diferentiate quiz answers are better applied to the image
  * see selector below (answer-img)
  */


  
  .answer-img{
    border-radius:33px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    margin: auto;
    padding:2em;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    /* border: 2px solid red */
  } 



    #answer-choices-cont{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      margin: auto;
      column-gap: 2em;
      max-width: 900px;
      justify-content: center;
    }

    #results-container{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;
    }

  @media (max-width: 1280px) {
    #answer-choices-cont, #results-container{
      padding: 2em;
      margin: 3em auto;
      gap: 2em;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

    }
  }

  /* phone */
  @media (max-width: 625px) {
    #answer-choices-cont, #results-container{
      row-gap: 1em;
      grid-template-columns: repeat(1, 1fr);
      
    }

    .answer-img {
      width: 100%;
      min-width: 100px;
    }
  }