<main class="container mx-auto">
    <div class="text-center mt-4">
        <h2>Currated Lessons</h2>
        <h3>select a topic to learn about</h3>
    </div>
    <nav id="nav-menu" class="mx-auto">
        <ul class="flex gap-4 justify-center">
            <li>
                <a (click)="showPersons()">pronouns</a>
            </li>
            <li>
                <a (click)="showPersons()">conjugating verbs</a>
            </li>
            <li>
                <a (click)="showPersons()">Idioms</a>
            </li>
        </ul>
    </nav>
</main>