

#main-site-banner {
    background: var(--matador-red);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 2px solid var(--matador-black);

  }

  @media(max-width: 625px) {
    #main-site-banner{
      grid-template-columns: repeat(2, 1fr);
    }

    #banner-login{
      grid-column: span 2;
      display: block;
      height: 1.5625em;
      border: none;
      font-size: 1.5rem;
      font-weight: bold;
      color: whitesmoke;
      /* border: 2px solid magenta; */
    }
    #banner-img{
      place-self: center;
    }
  }

  #banner-img{
    align-self:center;
    height: 4.125em;
    width: 4.125em;
    margin-left: 1em;
    /* border: 2px solid blue; */
  }

  #banner-login{
    margin: 1em;
    font-size: 1.5rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: right;
  }
  #signup-link:hover, #login-link:hover{
    border-bottom: 2px solid var(--matador-white);
  }
  #banner-login:hover, 
  #banner-title:hover,
  #banner-img:hover{
    cursor: pointer;
  }

  #banner-title{
    margin: auto;
    font-size: 4.5rem;
    font-family: 'Poppins';
    color: whitesmoke;
    text-align: center;
  }

  #main-site-footer{
    width:100vw;
    border-top: 2px solid var(--matador-black);
    background-color: var(--matador-red);
    position: fixed;
    bottom: 0;
    color:var(--matador-white);
    height: 6.5em;
  }

  .footer-text{
    font-size: 1.5rem;
    padding-bottom:4px;
    padding-top:1em;
    display: inline;
  }
  .footer-text:hover{
    cursor:pointer;
    border-bottom: 2px solid var(--matador-white);
  }