<header id="main-site-banner">
    <img id ='banner-img'src="/assets/home-128.png" alt="" (click)="showHome()">
    <h1 (click)="showHome()" id="banner-title">ELLI</h1>
    <div id="banner-login">
        <span (click)="showLogin()">Login </span> <span>/</span><span (click)="showSignup()">Sign Up</span>
    </div>
</header>
<router-outlet></router-outlet>
<footer id="main-site-footer">
    <div class="container mx-auto p-4 flex justify-center">
        <p class="footer-text inline">About Us</p>
        <p class="footer-text inline">Site Map</p>
    </div>

</footer>
