

#main-site-banner {
    padding: 0;
    background: var(--matador-red);
    display: flex;
    border-bottom: 2px solid black;
    height: 70px;
  }


  #banner-img{
    height: 55px;
    width: 50px;
    margin-left: 0%;
    /* border: 2px solid magenta; */
  }

  #banner-login{
    position: absolute;
    height: 25px;
    width: 50px;
    right: 6%;
    top: 2%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    font-size: 18px;
    font-weight: bold;
    /* border: 2px solid magenta; */
  }

  #banner-title{
    margin: auto;
    font-size: 4rem;
    font-family: 'Poppins';
    /* border: 2px solid magenta; */
  }