

#main-site-banner {
    padding: 0;
    background: var(--matador-red);
    display: flex;
    border-bottom: 2px solid black;
    height:  4.375em;
  }


  #banner-img{
    position: fixed;
    height: 3.125em;
    width: 3.125em;
    top: 1%;
    left: 1%;
    /* border: 2px solid magenta; */
  }

  #banner-login{
    position: fixed;
    height: 1.5625em;
    right: 2%;
    top: 3%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: whitesmoke;
    /* border: 2px solid magenta; */
  }

  #banner-login:hover, 
  #banner-title:hover,
  #banner-img:hover{
    cursor: pointer;
  }

  #banner-title{
    margin: auto;
    font-size: 4rem;
    font-family: 'Poppins';
    color: whitesmoke;
    text-align: center;
    /* border: 2px solid magenta; */
  }