.maindiv {
    display: flex;
}



.timer {

}
.timerTxt {
    font-weight: 800;
    font-size: 90px;
    color: #42f860;
    vertical-align: middle;
    font-family:  Times, serif;
    text-decoration: none;
    line-height: 1;
}

.gamediv{
    align-items: flex-start;

    /* position: absolute;
    left: 3%;
    top: 15%; */
    /* width: 300px; */
    height: 300px; 
}

.gamebtn {
    text-align: center;
    width: 17%;
    height: 50px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
}
