.circle.small {
    position: absolute;
    left: 45%;
	border: 8px solid #42f860;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	z-index: 86;
}

.circle.filled {
	background-color: #666666;
}

.circle h1 {
    position: absolute;
    left: 10%;
    bottom: 0.3%;
    font-family:  Times, serif;
    font-weight: 800;
    font-size: 80px;
    color: #42f860;
    text-decoration: none;
    display: block;
    letter-spacing: -0.02em;
    line-height: 1;
    margin-top: 32px;
}