<div class="grid grid-cols-[15%_23%_62%] gap-4">
  <div class="">
    <app-category-selector></app-category-selector>
  </div>
  <div class="text-center">
    <p>Choose A Game Mode</p>
    <div>
      <button (click)="hardMode()" class="bg-[#FF3131] w-1/2">Hard</button>
    </div>
    <div>
      <button (click)="mediumMode()" class= "bg-[#FFF01F] w-1/6">Medium</button>
    </div>
    <div>
      <button (click)="easyMode()" class="bg-[#42f860] w-1/6">Easy</button>
    </div>
  </div>
  <div class="">
    <p class="text-9xl text-[#42f860] font-bold font-sans">
      {{ counter }}
    </p>
    <img class="img" src="{{ gameDeck.cards[index].image }}" />
    <input type="text" id="inputValue" value="Write the Answer"><br><br>
    <button (click)="submitAnswer()">Submit Answer</button>
    <button (click)="skipCard()">Skip Card</button>
    <button (click)="startGame()">Start Game</button>
    <button (click)="resetGame()">Reset Game</button>
  </div>
  
</div>
